.ToDo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: #080705;
  color: #bfc0c0;
  padding: 3rem 5rem;
}

.ToDo nav ul li a {
  color: white;
}

.ToDo nav li:last-of-type a {
  color: var(--primary);
}

@media only screen and (max-width: 600px) {
  .ToDo {
    gap: 0;
    padding: 0;
  }
  .ToDo h2,
  .ToDo h1 {
    font-size: 3rem;
  }
  .ToDo nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
